---
import Character2 from './elements/character-2.astro';
---

<section id="tools">
  <h2>The tool helps to enhance designers' expertise</h2>
  <h3>Tools</h3>
  <div class="tools-container">
    <div class="tools__img-container">
      <!-- <img src="./img/character-2.png" alt="" class="tools-img"> -->
      <Character2 />
    </div>
    <div class="tools-table">
      <div class="tools-table__item">
        <h4>General</h4>
        <p>Structure and navigation design. Designing interface screens and their interactive prototypes (including the
          specifics of Android, iOS platforms, etc.).</p>
      </div>
      <div class="tools-table__item">
        <h4>Analytics</h4>
        <p>Understanding the subject area and the market. Define and track front-end and product metrics.Building and testing
          product hypotheses) Statistics, big data analysis.</p>
      </div>
      <div class="tools-table__item">
        <h4>Researches</h4>
        <p>Understanding and describing users. Verification of design solutions. Expert review.</p>
      </div>
      <div class="tools-table__item">
        <h4>Visual design</h4>
        <p>Composition and grids, typography, color science Iconography and illustrations Interface animation.</p>
      </div>
      <div class="tools-table__item">
        <h4>Front-end</h4>
        <p>Layout (HTML, CSS, JavaScript) and interface animation. Working with data sources. Setting up a working environment
          for testing and running services.</p>
      </div>
    </div>
  </div>
</section>