---
import PriceList from './blocks/price-list/price-list.astro';


---

<section id="pricing">
  <h2>Select a membership level the right price for you</h2>
  <h3>pricing</h3>
  <PriceList />
</section>