  <div class="pricing-table">
    <ul class="pricing-table__header">
      <li class="pricing-table__header-item">
        <strong>Free</strong>
        <span>2 days of free lectures</span>
      </li>
      <li class="pricing-table__header-item">
        <span class="pricing-table__price-title">
          <sup>$</sup>
          <strong>29</strong>
          <sub>per/m</sub>
        </span>
        <span>Without meeting with the teacher</span>
      </li>
      <li class="pricing-table__header-item">
        <span class="pricing-table__price-title">
          <sup>$</sup>
          <strong>59</strong>
          <sub>per/m</sub>
        </span>
        <span>Full course package</span>
      </li>
      <li class="pricing-table__header-item">
        <span class="pricing-table__price-title">
          <sup>$</sup>
          <strong>29</strong>
          <sub>per/m</sub>
        </span>
        <span>Premium lectures with the main teachers of the course</span>
      </li>
    </ul>
    <ul class="pricing-table__list">
      <ul class="pricing-table__list-item">
        <li class="pricing-table__list-title">
          Video conference
        </li>
        <li>x</li>
        <li>+</li>
        <li>+</li>
        <li>+</li>
      </ul>
      <ul class="pricing-table__list-item">
        <li class="pricing-table__list-title">Lecture package</li>
        <li>x</li>
        <li>+</li>
        <li>+</li>
        <li>+</li>
      </ul>
      <ul class="pricing-table__list-item">
        <li class="pricing-table__list-title">General information</li>
        <li>+</li>
        <li>+</li>
        <li>+</li>
        <li>+</li>
      </ul>
      <ul class="pricing-table__list-item">
        <li class="pricing-table__list-title">Introduction to specialty</li>
        <li>+</li>
        <li>+</li>
        <li>+</li>
        <li>+</li>
      </ul>
      <ul class="pricing-table__list-item">
        <li class="pricing-table__list-title">Main teachers</li>
        <li>x</li>
        <li>x</li>
        <li>+</li>
        <li>+</li>
      </ul>
    </ul>
    <div class="pricing-table__footer">
      <button type="submit">Join</button>
    </div>
  </div>