---
import PriceElement from '../../../../_components/price-element/price-element.astro';

const priceListData = [
  {
    id: 1,
    description: '2 days of free lectures',
    price: 'free',
  },
];
---

<div class="price-list">
  <article class="price-element">
    <strong>Free</strong>
    <span class="price-element__description">2 days of free lectures</span>
    <ul>
      <li>
        <svg class="icon">
          <use xlink:href="/sprites/sprite-main.svg#iconXmark"></use>
        </svg> Video conference
      </li>
      <li>
        <svg class="icon">
          <use xlink:href="/sprites/sprite-main.svg#iconXmark"></use>
        </svg>
        Lecture package
      </li>
      <li>
        <svg class="icon">
          <use xlink:href="/sprites/sprite-main.svg#iconCheck"></use>
        </svg>General information
      </li>
      <li>
        <svg class="icon">
          <use xlink:href="/sprites/sprite-main.svg#iconCheck"></use>
        </svg>Introduction to specialty
      </li>
      <li>
        <svg class="icon">
          <use xlink:href="/sprites/sprite-main.svg#iconXmark"></use>
        </svg>Main teachers
      </li>
    </ul>

    <button type="button" name="joinPrice" class="button">Join</button>
  </article>
  <article class="price-element">
    <span class="price-element__price-title">
      <sup>$</sup>
      <strong>29</strong>
      <sub>per/m</sub>
    </span>
    <span class="price-element__description">Courses without meeting with the teacher</span>
    <ul>
      <li>
        <svg class="icon">
          <use xlink:href="/sprites/sprite-main.svg#iconXmark"></use>
        </svg> Video conference
      </li>
      <li>
        <svg class="icon">
          <use xlink:href="/sprites/sprite-main.svg#iconCheck"></use>
        </svg>
        Lecture package
      </li>
      <li>
        <svg class="icon">
          <use xlink:href="/sprites/sprite-main.svg#iconCheck"></use>
        </svg>General information
      </li>
      <li>
        <svg class="icon">
          <use xlink:href="/sprites/sprite-main.svg#iconCheck"></use>
        </svg>Introduction to specialty
      </li>
      <li>
        <svg class="icon">
          <use xlink:href="/sprites/sprite-main.svg#iconXmark"></use>
        </svg>Main teachers
      </li>
    </ul>

    <button type="button" name="joinPrice" class="button">Join</button>
  </article>
  <article class="price-element">
    <span class="price-element__price-title">
      <sup>$</sup>
      <strong>59</strong>
      <sub>per/m</sub>
    </span>
    <span class="price-element__description">Full course
      package</span>
    <ul>
      <li>
        <svg class="icon">
          <use xlink:href="/sprites/sprite-main.svg#iconCheck"></use>
        </svg> Video conference
      </li>
      <li>
        <svg class="icon">
          <use xlink:href="/sprites/sprite-main.svg#iconCheck"></use>
        </svg>
        Lecture package
      </li>
      <li>
        <svg class="icon">
          <use xlink:href="/sprites/sprite-main.svg#iconCheck"></use>
        </svg>General information
      </li>
      <li>
        <svg class="icon">
          <use xlink:href="/sprites/sprite-main.svg#iconCheck"></use>
        </svg>Introduction to specialty
      </li>
      <li>
        <svg class="icon">
          <use xlink:href="/sprites/sprite-main.svg#iconXmark"></use>
        </svg>Main teachers
      </li>
    </ul>

    <button type="button" name="joinPrice" class="button">Join</button>
  </article>
  <article class="price-element">
    <span class="price-element__price-title">
      <sup>$</sup>
      <strong>99</strong>
      <sub>per/m</sub>
    </span>
    <span class="price-element__description">Premium lectures with
      the main teachers
      of the course</span>
    <ul>
      <li>
        <svg class="icon">
          <use xlink:href="/sprites/sprite-main.svg#iconCheck"></use>
        </svg> Video conference
      </li>
      <li>
        <svg class="icon">
          <use xlink:href="/sprites/sprite-main.svg#iconCheck"></use>
        </svg>
        Lecture package
      </li>
      <li>
        <svg class="icon">
          <use xlink:href="/sprites/sprite-main.svg#iconCheck"></use>
        </svg>General information
      </li>
      <li>
        <svg class="icon">
          <use xlink:href="/sprites/sprite-main.svg#iconCheck"></use>
        </svg>Introduction to specialty
      </li>
      <li>
        <svg class="icon">
          <use xlink:href="/sprites/sprite-main.svg#iconCheck"></use>
        </svg>Main teachers
      </li>
    </ul>

    <button type="button" name="joinPrice" class="button">Join</button>
  </article>
</div>
