<section id="greatness">
  <div class="greatness-container">
    <h2>Join the Path to Greatness</h2>
    <p>This course is designed to help you materialize your game-changing idea and transform it into a product that you can
      build a business around. Product Design blends theory and practice to teach you product validation.</p>
    <div class="greatness__numbers-list">
      <div class="greatness__numbers-item">
        <svg width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect opacity="0.01" width="86" height="86" fill="white"/>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M18.92 29.9681C17.1189 32.7241 15 33.3191 15 33.3191V39.5159V39.6489V45.8456C15 45.8456 23.0702 45.7554 25.8267
              43.6116C28.1071 41.838 29.9387 39.7052 31.6818 37.6755C34.9658 33.8515 37.9355 30.3935 43 30.3935C48.0985 30.3935 51.3106
              34.0134 54.7336 37.8711C56.5155 39.8792 58.3546 41.9518 60.5467 43.6116C63.477 45.8304 71 45.8456 71
              45.8456V39.6489V39.5159V33.3191C71 33.3191 68.7285 32.4524 67.36 30.3404C66.0678 28.3461 64.8892 26.4109 63.7668
              24.5681C57.9708 15.0521 53.6757 8 43 8C32.3701 8 27.422 16.127 22.0796 24.9017C21.0552 26.5843 20.0163 28.2906 18.92
              29.9681ZM70.4471 39.5263C69.0673 39.1934 65.4834 38.1575 64.0933 36.1117C62.4667 33.7178 61.0086 31.3501 59.6274
              29.1073C54.5596 20.8782 50.5268 14.3298 43 14.3298C35.3047 14.3298 31.3351 20.9958 27.1974 27.944C25.623 30.5878 24.0242
              33.2725 22.1867 35.6463C20.1092 38.33 16.9066 39.2615 15.593 39.5421C17.0185 39.5749 20.685 39.4744 22.9333
              37.7472C24.9141 36.2256 26.6255 34.3597 28.3304 32.5009C32.2166 28.2637 36.0687 24.0637 43 24.0637C50.8745 24.0637
              54.9852 28.956 58.4706 33.104C59.9111 34.8185 61.2448 36.4058 62.6933 37.468C65.2358 39.3325 69.0365 39.5239 70.4471
              39.5263ZM26.1067 45.1775C22.1559 46.5107 15 45.9787 15
              45.9787V52.4947V59.0106V65.5266V71.6702V78H71V71.6702V65.5266V59.0106V52.4947V45.9787C71 45.9787 63.5967 46.64 60.4533
              45.4202C58.2061 44.5482 56.3436 43.3033 54.5002 42.0713C51.266 39.9095 48.0907 37.7872 43 37.7872C37.6778 37.7872 34.4762
              40.0298 31.4728 42.1335C29.741 43.3465 28.0752 44.5133 26.1067 45.1775ZM15 65.5266C15 65.5266 26.0526 65.4947 30.96
              65.1543C32.9411 65.0168 34.6742 64.6667 36.3813 64.3219L36.3814 64.3219C38.4881 63.8963 40.5552 63.4787 43
              63.4787C46.0609 63.4787 48.0536 63.9179 50.1767 64.3859C51.8378 64.752 53.5787 65.1357 55.9733 65.3404C58.1325 65.525
              62.5461 65.5618 66.034 65.5581C62.6866 65.5726 58.4029 65.5769 55.6933 65.5266C53.7114 65.4898 51.8013 65.3704 49.8975
              65.2514L49.8973 65.2514C47.6263 65.1095 45.3642 64.9681 43 64.9681C41.0495 64.9681 38.8414 65.1113 36.651
              65.2534H36.651H36.6509H36.6509H36.6508H36.6508L36.6507 65.2534C34.7419 65.3772 32.8465 65.5001 31.1467 65.5266C25.4638
              65.6153 15 65.5266 15 65.5266ZM15 52.4947C15 52.4947 23.7594 52.8389 27.2267 51.5638C29.5519 50.7088 31.5903 49.3908
              33.5694 48.1112C36.5832 46.1627 39.4592 44.3032 43 44.3032C46.8468 44.3032 49.576 46.0975 52.5561 48.0569C54.4431 49.2976
              56.4308 50.6044 58.8667 51.5638C60.4873 52.2021 63.8101 52.4249 66.5693 52.4936C63.4819 52.4625 59.6114 52.3551 57.84
              52.0293C55.3482 51.5709 53.4484 50.9183 51.6607 50.3042C49.0377 49.4032 46.656 48.5851 43 48.5851C39.1536 48.5851 36.2178
              49.5678 33.0929 50.6137C31.0424 51.3001 28.9106 52.0136 26.3867 52.4947C23.4236 53.0594 15 52.4947 15 52.4947ZM58.68
              58.7314C60.8273 59.1167 65.3161 59.1217 68.2415 59.0763C64.7352 59.1481 58.8587 59.2265 56.5333 59.0106C53.9376 58.7697
              52.155 58.3465 50.4727 57.9472C48.3171 57.4354 46.3261 56.9628 43 56.9628C39.9805 56.9628 37.7892 57.414 35.4904
              57.8873L35.4904 57.8874C33.7199 58.2519 31.8856 58.6297 29.56 58.8245C28.4306 58.9191 26.7733 58.975 24.9776
              59.0066C26.0635 58.9478 27.0674 58.8597 27.88 58.7314C30.0984 58.3812 32.1914 57.6837 34.2644 56.9929C37.1221 56.0407
              39.9419 55.1011 43 55.1011C46.5796 55.1011 49.3351 56.0107 52.2502 56.9731C54.2195 57.6232 56.2617 58.2974 58.68
              58.7314ZM49.0012 71.3762C50.3985 71.4929 51.8702 71.6158 54.2933 71.6702H31.1467C33.227 71.63 34.9454 71.5085 36.635
              71.3891C38.6171 71.249 40.5596 71.1117 43 71.1117C45.8343 71.1117 47.3669 71.2397 49.0012 71.3762Z"
            fill="black"/>
        </svg>

        <strong>40 hr</strong>
        <span>Fully online</span>
      </div>
      <div class="greatness__numbers-item">
        <svg width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect opacity="0.01" width="86" height="86" fill="white"/>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M43.4891 11.9799L50.8787 9.99805L67.984 73.8953L60.5944 75.8771L43.4891 11.9799ZM42.701
              10.042H35.0502V75.9999H42.701V10.042ZM26.5251 10.042H34.1759V75.9999H26.5251V10.042ZM18
              10.042H25.6508V75.9999H18V10.042Z"
            fill="black"/>
        </svg>

        <strong>60</strong>
        <span>Practice days</span>
      </div>
      <div class="greatness__numbers-item">
        <svg width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect opacity="0.01" width="86" height="86" fill="white"/>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M20.9764 65C27.0385 65 31.9528 55.1503 31.9528 43C31.9528 55.1503 41.8131 65 53.9764 65C66.1397 65 76 55.1503 76 43C76
              30.8497 66.1397 21 53.9764 21C41.8131 21 31.9528 30.8497 31.9528 43C31.9528 30.8497 27.0385 21 20.9764 21C14.9143 21 10
              30.8497 10 43C10 55.1503 14.9143 65 20.9764 65Z"
            fill="black"/>
        </svg>

        <strong>120</strong>
        <span>Exercises</span>
      </div>
    </div>
  </div>
  <div class="greatness__shape-container"></div>
</section>