---
import Fundamentals from '../_blocks/fundamentals/fundamentals.astro'
import Hero from '../_blocks/hero/hero.astro'
import Program from '../_blocks/program/program.astro'
import Register from '../_blocks/register/register.astro'
import Tools from '../_blocks/tools/tools.astro'
import Pricing from '../_blocks/pricing/pricing.astro'
import GetStarted from '../_blocks/get-started/get-started.astro'
import Layout from "../_layout/layout.astro"

import "../index.css"
---

<Layout>
	<main>
		<Hero />
		<Fundamentals />
		<Program />
		<Register />
		<Tools />
		<Pricing />
		<GetStarted />
	</main>
</Layout>
